<figure class="card">
    <div class="card__emoji">{ProductImg} {ProductImg}</div>
    <div class="card__title-box">
      <h2 class="card__title">{ProductName}</h2>
    </div>

    <div class="card__details">
      <div class="card__detail-box {NonOrganic}">
        <h6 class="card__detail">{ProductQuant} per 📦</h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail card__detail--price">{ProductPrice}₹</h6>
      </div>
    </div>

    <a class="card__link" href="/product?id={ProdId}">
      <span>Detail <i class="emoji-right">👉</i></span>
    </a>
  </figure>